################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/Зарплата.exe
/bin/Debug/Зарплата.vshost.exe.manifest
/bin/Debug/Зарплата.vshost.exe.config
/bin/Debug/Зарплата.vshost.exe
/bin/Debug/Зарплата.pdb
/bin/Debug/Зарплата.exe.config
/obj/Debug
/bin/Debug
